{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
	<div class="container">
		<body>
			<h1>Hello, My name is Luis</h1>
			<h3>So here is my story...Don't wory it won't be the whole life span.
			<br>
			<br> <img src="{{url_for('static', filename='Summit_MG.jpg')}}"  width="200" height="300" />
			<br>
			Programming is one of those things I discovered later than I would have liked. Just the same I grew to appreciate taking on a "DevOps state of mind". To me that means appreciaing the process from start to finish. I have knack for learning. Although I did not attend university, I was always motivated to learn as much as possible, and to become well versed in whatever it is I am really into.
			<br>
			<br>
			I love landscaping and gardening. It allows me to be as close to earth as possible, literally, knees in the dirt. I like to get my hands dirty and there is a deep satisfaction when an idea or project is successful. Because for the most part, its laborous work, and managing different types of plants involves thoughtfulness and nuance...
			<br>
			<br>
			Alas, I do not want to rely on it for a living any longer. I am honestly burnt out on it. I am transitioning from making my living in landscaping.
			</h3>
		</body>
	</div>
{% endblock %}