{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
	<div class="container">
		<body>
			<h1><p style="text-align:center;">Hello, My name is Luis</h1>
			<h3><p style="text-align:center;">So here is my story...Don't wory it won't be the whole life span.
			<br>
			<br> <img src="{{url_for('static', filename='Summit_MG.jpg')}}"  width="400" height="500" />
			<br>
			<br>
			Programming is one of those things I discovered later than I would have liked. Just the same, it's important to me to understand and be keen on the process of deploying code to production as well as leveraging cloud services, from start to finish. I highly enjoy learning. Although I did not attend university, I was, and am always motivated to learn as much as possible. To become well versed in whatever it is I am really into.
			<br>
			<br>
			I love landscaping and gardening. It allows me to be as close to earth as possible, literally, knees in the dirt. I like to get my hands dirty and there is a deep satisfaction when an idea or project is successful. Because for the most part, its laborous work, and managing different types of plants involves thoughtfulness and nuance...
			<br>
			<br>
			Alas, I do not want to rely on it for a living any longer. I am honestly burnt out on it. I am transitioning from making my living in landscaping, to the world of programming and technology. I am passionate about it, and it is the balance I am looking for in my life. That basically sums up the theme for the next year or so as I make this traverse on some new terrain.
			<br>
			<br>
			The balance from spending time in front of my computer and working on challenging technology related projects, is my time spent outdoors. I am an avid rock climber and have been riding a skateboard since I was 12. What draws me to them, is both require extensive problem solving and demand physical and mental awareness. I realized that what I really enjoy is exploring and interpeting terrain. For the most part for me, its going to be with those two activites.
			<br>
			<br>

			<img src="{{url_for('static', filename='restonflower.jpg')}}"  width="400" height="500" /><p style="text-align:center;"> 
			<br>
			<a href="http://doubleguns.tv/DG3.html">Click this link to see me skateboarding. Scroll the video to 9:27</a>
			<br>
			<br>
			<a href="http://doubleguns.tv/index.html">Click this link to see a 2nd video of me skateboarding. Scroll the video to 9:27</a>
			<br>
			<br>
			<h3><p style="text-align:center;">Yes oddly enough, both parts start at basically 9:27.</h3>
			<br>
			<br>
			<br>
			<br>
			</h3>
		</body>
	</div>
{% endblock %}