{% extends 'base.html' %}
{% block title %}Contact Me{% endblock %}
{% block content %}
	<div class="container">
		<h1><p style="text-align:center;">Contact Luis</h1>
			<br>
			<h4 align="center" >Please feel free to email me, or check out my Linkedin.</h4>
			<h5 style="color:blue">
			<br>
			<style type="text/css">
			.wrapper {
			text-align: center;
			
			}
			.wrapper ul {
			display: inline-block;
			margin: 0;
			padding: 0;
			/* For IE, the outcast */
			zoom:1;
			*display: inline;
			}
			.wrapper li {
			float: left;
			padding: 4px 10px;
			
			}
			</style>
			<div class="wrapper">
				<br><br><br><br>
				<ul>
					<li align="center"><a href="https://www.gmail.com"><i class="fas fa-envelope fa-3x"></i></a></li>
				</ul>
				<br><br>
				<br><br>
				<ul>
					<li align="center"><a href="https://www.https://www.linkedin.com/in/luis-palacios-8889831a4/.com/"><i class="fab fa-linkedin fa-3x"></i></a></li>
				</ul>
				<br><br>
				<br><br>
			</div>
		{% endblock %}
		<i class="fas fa-envelope"></i>