{% extends 'base.html' %}
{% block title %}Contact Me{% endblock %}
{% block content %}
	<div class="container">
		<h1>Contact Luis</h1>
		<br>
		<h4 align="center" >You can also check me out on social media.</h4>
		<h5 style="color:blue">
		<br>
		<style type="text/css">
		.wrapper {
		text-align: center;
		
		}
		.wrapper ul {
		display: inline-block;
		margin: 0;
		padding: 0;
		/* For IE, the outcast */
		zoom:1;
		*display: inline;
		}
		.wrapper li {
		float: left;
		padding: 4px 10px;
		
		}
		</style>
		<div class="wrapper">
			<ul >
				<li align="center"><a href="tel:+1760-xxx-xxxx"><i class="fas fa-mobile-alt fa-3x"></i></a>
			</li>
		</ul>
		<br><br><br><br>
		<ul>
			<li align="center"><a href="https://www.gmail.com"><i class="fas fa-envelope fa-3x"></i></a></li>
		</ul>
		<br><br>
		<br><br>
		<ul>
			<li align="center"><a href="https://www.instagram.com/"><i class="fab fa-instagram fa-3x"></i></a></li>
		</ul>
		<br><br>
		<br><br>
		<ul>
			<li align="center"><a href="https://www.facebook.com/"><i class="fab fa-facebook-f fa-3x"></i></a></li>
			<br><br>
			<br><br>
		</ul>
	</div>
{% endblock %}
<i class="fas fa-envelope"></i>